.Navbar {
  height: 20vh;
  width: 100%;
  background-color: rgb(59, 51, 54);
}

a {
  color: rgb(200, 210, 220);
  font-family: "Roboto", sans-serif;
}

li {
  display: inline;
  padding: 5px;
}

ul {
  padding-left: 800px;
  padding-top: 30px;
}

h5 {
  position: absolute;
  padding: 10px;
  color: rgb(200, 210, 220);
  font-family: "Roboto", sans-serif;
}
